<div class="media">
  <a class="pull-left" href="#">
    {{> atoms-square }}
  </a>
  <div class="media-body">
    <h4 class="media-heading">{{ headline.short }}</h4>
    {{ excerpt.medium }}
  </div>
</div>